{
  "parser": "typescript-eslint-parser",
  "plugins": [
    "typescript",
    "import"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "extends": [
      "eslint:recommended",
      "airbnb",
      "plugin:import/errors",
      "plugin:import/warnings"
    ]
  }
}
