
.icon-cog:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */