html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#content {
  width: 100%;
}

#links {
  width: 100%;
}

#stored-image {
  width: 80%;
  height: 80%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: auto;
  width: 50%;
  padding: 2.5em 0 2.5em 0;
  text-align: left;
}

@media (max-width: 600px) {
  #app {
    width: 100%;
    padding: 1em 0.5em 1em 0.5em;
  }
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

/***************************************
 * View
 ***************************************/

/* Loading */
.vertical-center-parent {
  display: table;
  width: 100%;
  height: 100%;
}

.vertical-center-child {
  display: table-cell;
  vertical-align: middle;
}

.spinner-message {
  text-align: center;
}

/***************************************
 * DisplayImage
 ***************************************/
.viewimage > img {
  padding-top: 25px;

  width: 95vw;
  height: auto;
  resize: both;
}

/***************************************
 * CodeFileInput
 ***************************************/
.code-file-input.container {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}



/***************************************
 * ViewCodeFile
 ***************************************/
pre code {
  padding-left: 1em !important;
  padding-right: 1em !important;
  padding-top: 0.5em !important;
  padding-bottom: 2em !important;
  font-family: "Sans Mono", "Consolas", "Courier", monospace;

  overflow: hidden;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre > code {
}
