html, body {
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  font-family: 'Raleway', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#content {
  width: 100%;
}

#links {
  width: 100%;
}

#stored-image {
  width: 80%;
  height: 80%;
}

#content {
  margin: auto;
  width: 60%;
  max-width: 1200px;
  display: block;
  min-height: 100%;
  border-style: solid;
  border-color: #c2c2c2;

  border-width: 0px 1px 0px 1px;

  color: #131516;
  background-color: #f1f2f3;
}

#app {
  padding: 2.5em 3em 2.5em 2em;
  text-align: left;
}

@media (max-width: 62em) {
  #app {
    width: 100%;
    padding: 1em 0.5em 1em 0.5em;
  }

  #content {
    width: 100%;
  }
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

/***************************************
 * View
 ***************************************/

/* Loading */
.vertical-center-parent {
  display: table;
  width: 100%;
  height: 100%;
}

.vertical-center-child {
  display: table-cell;
  vertical-align: middle;
}

.spinner-message {
  text-align: center;
}

.clipboard {
  cursor: pointer;
  float: right;
  color: black;
  opacity: 0.4;
}

.clipboard:hover {
  opacity: 0.65;
}

.clipboard:active {
  opacity: 0.9;
}
