html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#content {
  width: 100%;
}

#links {
  width: 100%;
}

#stored-image {
  width: 80%;
  height: 80%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-align: center;
  color: #2c3e50;
  // margin-top: 60px;
  width: 99%;
  height: 99%;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a
{
  color: #42b983;
}

/***************************************
 * Upload
 ****************************************/
#upload {
  text-align: center;
  height: 100%;
}

/***************************************
 * View
 ***************************************/

/* Loading */
.vertical-center-parent {
  display: table;
  width: 100%;
  height: 100%;
}

.vertical-center-child {
  display: table-cell;
  vertical-align: middle;
}

.spinner-message {
  text-align: center;
}

/***************************************
 * DisplayImage
 ***************************************/
.viewimage > img {
  padding-top: 25px;

  width: 95vw;
  height: auto;
  resize: both;
}

/***************************************
 * PasteCodeFile
 ***************************************/
#content-paste-file {
  text-align: left;
  padding: 25px;
}

/***************************************
 * ViewCodeFile
 ***************************************/
 pre code {
   padding-left: 1em !important;
   padding-right: 1em !important;
   padding-top: 0.5em !important;
   padding-bottom: 2em !important;
 }
