<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" id="hljs-theme">
    <link rel="stylesheet" href="assets/main.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>

    <title>Pasty</title>
  </head>
  <body>
    <noscript>
      <h1>Javascript Disabled</h1>
      <p> You appear to have Javascript disabled. <br />
        Javascript is <strong>required</strong> to use this website. <br />
        Pasty makes use of client-side encryption and decryption, which necessitates Javascript. <br />
        <br />
        The Javascript which will be run is available, under an open source license, <a href="https://github.com/brhoades/pasty-react">here</a>.
    </noscript>
    <div id="app">
    </div>
  </body>
</html>
